In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("../data/Centro.csv", sep=';')
df.head(10)

,Data,Nome,Idade,sexo,Consulta,Valor Consulta,Exames,Valor Exame,Tratamento,Valor Tratamento,DÍVIDAS,Descrição,Estado
0,01/03/2025,Joana Francisco,0,F,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
1,01/03/2025,Joana Francisco,0,F,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
2,01/03/2025,Cristiano Almeida,0,M,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
3,01/03/2025,Filomena Manuel,0,F,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0,Sem Dívida,Pago
4,01/03/2025,Nelma Pedro,0,F,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
5,01/03/2025,Mateus Cambundo João,0,M,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
6,02/03/2025,Hugo Wakalawako,0,M,Consulta,1500.0,TDR Malária,1500.0,Tratamento,3000.0,0,Sem Dívida,Pago
7,02/03/2025,Arnaldo António,0,M,Consulta,1500.0,TDR Malária,1500.0,Tratamento,7000.0,0,Sem Dívida,Pago
8,02/03/2025,Arnaldo António,0,M,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
9,02/03/2025,Weza Luís,0,F,Consulta,1500.0,TDR Malária,1500.0,Tratamento,8000.0,0,Sem Dívida,Pago

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   object
 1   Nome              1033 non-null   object
 2   Idade             787 non-null    object
 3   sexo              831 non-null    object
 4    Consulta         801 non-null    object
 5   Valor Consulta    800 non-null    float64
 6    Exames           955 non-null    object
 7   Valor Exame       955 non-null    float64
 8    Tratamento       716 non-null    object
 9   Valor Tratamento  716 non-null    float64
 10  DÍVIDAS           654 non-null    object
 11  Descrição         651 non-null    object
 12  Estado            1033 non-null   object
dtypes: float64(3), object(10)
memory usage: 105.0+ KB

In [27]:
#eliminando os espaços no início e no final das colunas 
df.columns= df.columns.str.strip()

In [28]:
#Renomeando as colunas
df.rename(columns={'Valor Exame':'Valor_Exame','Valor Consulta':'Valor_Consulta', 'Valor Exame':'Valor_Exame',  'Valor Tratamento':'Valor_tratamento', 'DÍVIDAS':'Divida'}, inplace= True)

In [29]:
df.columns

Index(['Data', 'Nome', 'Idade', 'sexo', 'Consulta', 'Valor_Consulta', 'Exames',
       'Valor_Exame', 'Tratamento', 'Valor_tratamento', 'Divida', 'Descrição',
       'Estado'],
      dtype='object')

In [30]:
#Verificação de elementos nulos 
df.isnull().sum()

Data                  0
Nome                  0
Idade               246
sexo                202
Consulta            232
Valor_Consulta      233
Exames               78
Valor_Exame          78
Tratamento          317
Valor_tratamento    317
Divida              379
Descrição           382
Estado                0
dtype: int64

In [31]:
#Verificando a quantidade no DataFrame(Linhas x Colunas)
df.shape

(1033, 13)

In [32]:
#Visualização das últimas 5 tuplas(Linhas)
df.tail()

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
1028,30/09/2025,Filomena Ventura,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
1029,30/09/2025,Manuela Ventura,25,F,Consulta,2000.0,TDRM,1500.0,NaN,NaN,NaN,NaN,Pago
1030,30/09/2025,Manuela Ventura,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
1031,30/09/2025,Carina,19,F,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
1032,30/09/2025,Grinaldo Domingos,21M,M,NaN,NaN,NaN,NaN,Tratamento,9000.0,NaN,NaN,Pago

In [33]:
#Copiando a tabela original para testes e tratamentos de dados
df_limpesa1=df.copy()

In [34]:
df_limpesa1.head()

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
0,01/03/2025,Joana Francisco,0,F,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
1,01/03/2025,Joana Francisco,0,F,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
2,01/03/2025,Cristiano Almeida,0,M,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
3,01/03/2025,Filomena Manuel,0,F,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0,Sem Dívida,Pago
4,01/03/2025,Nelma Pedro,0,F,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago

In [35]:
#Visusalização de elementos String com base a coluna Idade 
df_string=df_limpesa1[df['Idade'].astype(str).str.contains(r"[A-Za-z]", regex=True)]
df_string

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
629,02/07/2025,Almeida Mauel,NaN,M,NaN,NaN,NaN,NaN,Tratamento,2000.0,NaN,NaN,Pago
630,03/07/2025,Otávio Cristovão,NaN,M,Consulta,2000.0,TDRM,1500.0,NaN,NaN,NaN,NaN,Pago
631,03/07/2025,Otávio Cristovão,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
632,03/07/2025,Joseas Manuel,NaN,M,Consulta,2000.0,TDRM,1500.0,NaN,NaN,NaN,NaN,Pago
633,03/07/2025,Joseas Manuel,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,29/09/2025,Valdemar Tomás,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8500,Consulta e Tratamento,Não Pago
1026,29/09/2025,Deize da Rosa,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
1028,30/09/2025,Filomena Ventura,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
1030,30/09/2025,Manuela Ventura,NaN,NaN,NaN,NaN,PP,700.0,NaN,NaN,NaN,NaN,Pago
1032,30/09/2025,Grinaldo Domingos,21M,M,NaN,NaN,NaN,NaN,Tratamento,9000.0,NaN,NaN,Pago

In [36]:
#Tartamento do NaN para os tipos int
cols = ['Valor_Consulta','Valor_Exame','Valor_tratamento','Divida','Idade']
df_limpesa1[cols] = df_limpesa1[cols].fillna(0)

In [37]:
df_limpesa1.head(10)

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
0,01/03/2025,Joana Francisco,0,F,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
1,01/03/2025,Joana Francisco,0,F,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
2,01/03/2025,Cristiano Almeida,0,M,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
3,01/03/2025,Filomena Manuel,0,F,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0,Sem Dívida,Pago
4,01/03/2025,Nelma Pedro,0,F,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
5,01/03/2025,Mateus Cambundo João,0,M,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
6,02/03/2025,Hugo Wakalawako,0,M,Consulta,1500.0,TDR Malária,1500.0,Tratamento,3000.0,0,Sem Dívida,Pago
7,02/03/2025,Arnaldo António,0,M,Consulta,1500.0,TDR Malária,1500.0,Tratamento,7000.0,0,Sem Dívida,Pago
8,02/03/2025,Arnaldo António,0,M,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0,Sem Dívida,Pago
9,02/03/2025,Weza Luís,0,F,Consulta,1500.0,TDR Malária,1500.0,Tratamento,8000.0,0,Sem Dívida,Pago

In [38]:
df_limpesa1.isnull().sum()

Data                  0
Nome                  0
Idade                 0
sexo                202
Consulta            232
Valor_Consulta        0
Exames               78
Valor_Exame           0
Tratamento          317
Valor_tratamento      0
Divida                0
Descrição           382
Estado                0
dtype: int64

In [39]:
#Tratamentos dos NaN para os tipos String
coluna_df_Tratamento=['sexo','Consulta','Tratamento','Descrição','Exames']
df_limpesa1[coluna_df_Tratamento]= df_limpesa1[coluna_df_Tratamento].fillna("Não Informado")

In [40]:
df_limpesa1.isnull().sum()

Data                0
Nome                0
Idade               0
sexo                0
Consulta            0
Valor_Consulta      0
Exames              0
Valor_Exame         0
Tratamento          0
Valor_tratamento    0
Divida              0
Descrição           0
Estado              0
dtype: int64

In [41]:
df_limpesa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   object
 1   Nome              1033 non-null   object
 2   Idade             1033 non-null   object
 3   sexo              1033 non-null   object
 4   Consulta          1033 non-null   object
 5   Valor_Consulta    1033 non-null   float64
 6   Exames            1033 non-null   object
 7   Valor_Exame       1033 non-null   float64
 8   Tratamento        1033 non-null   object
 9   Valor_tratamento  1033 non-null   float64
 10  Divida            1033 non-null   object
 11  Descrição         1033 non-null   object
 12  Estado            1033 non-null   object
dtypes: float64(3), object(10)
memory usage: 105.0+ KB

In [42]:
#df_teste= df_limpesa1.copy()
#df_teste['Divida']= df_teste['Divida'].astype(float)

In [43]:
#Conversão para os respectivos tipos de dados 
#Tratamento de tipo de dado sting-float,data para o tipo DataTime, e idade para int
#df_teste['Divida']= pd.to_numeric(df_teste['Divida'], errors="coerce")
df_limpesa1['Divida']= pd.to_numeric(df_limpesa1['Divida'], errors="coerce")
df_limpesa1['Data']= pd.to_datetime(df_limpesa1['Data'],dayfirst=True,errors="coerce")
df_limpesa1['Idade']= pd.to_numeric(df_limpesa1['Idade'], errors="coerce")

In [44]:
df_limpesa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   datetime64[ns]
 1   Nome              1033 non-null   object
 2   Idade             1032 non-null   float64
 3   sexo              1033 non-null   object
 4   Consulta          1033 non-null   object
 5   Valor_Consulta    1033 non-null   float64
 6   Exames            1033 non-null   object
 7   Valor_Exame       1033 non-null   float64
 8   Tratamento        1033 non-null   object
 9   Valor_tratamento  1033 non-null   float64
 10  Divida            1032 non-null   float64
 11  Descrição         1033 non-null   object
 12  Estado            1033 non-null   object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 105.0+ KB

In [45]:
df_limpesa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   datetime64[ns]
 1   Nome              1033 non-null   object
 2   Idade             1032 non-null   float64
 3   sexo              1033 non-null   object
 4   Consulta          1033 non-null   object
 5   Valor_Consulta    1033 non-null   float64
 6   Exames            1033 non-null   object
 7   Valor_Exame       1033 non-null   float64
 8   Tratamento        1033 non-null   object
 9   Valor_tratamento  1033 non-null   float64
 10  Divida            1032 non-null   float64
 11  Descrição         1033 non-null   object
 12  Estado            1033 non-null   object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 105.0+ KB

In [46]:
#Transformado os NaN gerados pela conversão em 0
df_limpesa1['Divida'] = df_limpesa1['Divida'].fillna(0)
df_limpesa1['Idade'] = df_limpesa1['Idade'].fillna(0)

In [47]:
df_limpesa1['Idade']=df_limpesa1['Idade'].astype(int)

In [48]:
df_limpesa1.isnull().sum()

Data                0
Nome                0
Idade               0
sexo                0
Consulta            0
Valor_Consulta      0
Exames              0
Valor_Exame         0
Tratamento          0
Valor_tratamento    0
Divida              0
Descrição           0
Estado              0
dtype: int64

In [49]:
df_limpesa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   datetime64[ns]
 1   Nome              1033 non-null   object
 2   Idade             1033 non-null   int64
 3   sexo              1033 non-null   object
 4   Consulta          1033 non-null   object
 5   Valor_Consulta    1033 non-null   float64
 6   Exames            1033 non-null   object
 7   Valor_Exame       1033 non-null   float64
 8   Tratamento        1033 non-null   object
 9   Valor_tratamento  1033 non-null   float64
 10  Divida            1033 non-null   float64
 11  Descrição         1033 non-null   object
 12  Estado            1033 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 105.0+ KB

In [50]:
df_limpesa1.tail()

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
1028,2025-09-30,Filomena Ventura,0,Não Informado,Não Informado,0.0,PP,700.0,Não Informado,0.0,0.0,Não Informado,Pago
1029,2025-09-30,Manuela Ventura,25,F,Consulta,2000.0,TDRM,1500.0,Não Informado,0.0,0.0,Não Informado,Pago
1030,2025-09-30,Manuela Ventura,0,Não Informado,Não Informado,0.0,PP,700.0,Não Informado,0.0,0.0,Não Informado,Pago
1031,2025-09-30,Carina,19,F,Não Informado,0.0,PP,700.0,Não Informado,0.0,0.0,Não Informado,Pago
1032,2025-09-30,Grinaldo Domingos,0,M,Não Informado,0.0,Não Informado,0.0,Tratamento,9000.0,0.0,Não Informado,Pago

In [51]:
df_limpesa1.head()

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
0,2025-03-01,Joana Francisco,0,F,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
1,2025-03-01,Joana Francisco,0,F,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
2,2025-03-01,Cristiano Almeida,0,M,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
3,2025-03-01,Filomena Manuel,0,F,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0.0,Sem Dívida,Pago
4,2025-03-01,Nelma Pedro,0,F,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago

In [52]:
df_limpesa1['sexo']= (
    df_limpesa1['sexo']
    .str.replace('F', 'Femenino')
    .str.replace('M','Masculino')
    )

#df_limpesa1['sexo'].replace({'M':'Masculino', 'F':'Femenino'}, inplace=True)

In [53]:
df_limpesa1.head()

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
0,2025-03-01,Joana Francisco,0,Femenino,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
1,2025-03-01,Joana Francisco,0,Femenino,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
2,2025-03-01,Cristiano Almeida,0,Masculino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
3,2025-03-01,Filomena Manuel,0,Femenino,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0.0,Sem Dívida,Pago
4,2025-03-01,Nelma Pedro,0,Femenino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago

In [54]:
#eliminação dos espaços no início e final no DataFrame
for col in df_limpesa1.select_dtypes(include=['object']).columns:
    df_limpesa1[col]= df_limpesa1[col].str.strip()

In [55]:
df_limpesa1.head()

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
0,2025-03-01,Joana Francisco,0,Femenino,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
1,2025-03-01,Joana Francisco,0,Femenino,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
2,2025-03-01,Cristiano Almeida,0,Masculino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
3,2025-03-01,Filomena Manuel,0,Femenino,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0.0,Sem Dívida,Pago
4,2025-03-01,Nelma Pedro,0,Femenino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago

In [56]:
df_limpesa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   datetime64[ns]
 1   Nome              1033 non-null   object
 2   Idade             1033 non-null   int64
 3   sexo              1033 non-null   object
 4   Consulta          1033 non-null   object
 5   Valor_Consulta    1033 non-null   float64
 6   Exames            1033 non-null   object
 7   Valor_Exame       1033 non-null   float64
 8   Tratamento        1033 non-null   object
 9   Valor_tratamento  1033 non-null   float64
 10  Divida            1033 non-null   float64
 11  Descrição         1033 non-null   object
 12  Estado            1033 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 105.0+ KB

In [58]:
#Salvando o novo DataFrame
df_limpesa1.to_csv("../data/Centro_Limpo.csv", index=False,sep=";",decimal=",")
print("\nDados limpos salvos com sucesso em 'Centro_Limpo.csv'!")

Dados limpos salvos com sucesso em 'Centro_Limpo.csv'!

In [ ]:
df_limpesa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data              1033 non-null   datetime64[ns]
 1   Nome              1033 non-null   object
 2   Idade             1033 non-null   int64
 3   sexo              1033 non-null   object
 4   Consulta          1033 non-null   object
 5   Valor_Consulta    1033 non-null   float64
 6   Exames            1033 non-null   object
 7   Valor_Exame       1033 non-null   float64
 8   Tratamento        1033 non-null   object
 9   Valor_tratamento  1033 non-null   float64
 10  Divida            1033 non-null   float64
 11  Descrição         1033 non-null   object
 12  Estado            1033 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 105.0+ KB

In [59]:
df_limpesa1.head(10)

,Data,Nome,Idade,sexo,Consulta,Valor_Consulta,Exames,Valor_Exame,Tratamento,Valor_tratamento,Divida,Descrição,Estado
0,2025-03-01,Joana Francisco,0,Femenino,Consulta,1500.0,Urina,1500.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
1,2025-03-01,Joana Francisco,0,Femenino,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
2,2025-03-01,Cristiano Almeida,0,Masculino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
3,2025-03-01,Filomena Manuel,0,Femenino,Consulta,1500.0,Não Fez,0.0,Tratamento,2000.0,0.0,Sem Dívida,Pago
4,2025-03-01,Nelma Pedro,0,Femenino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
5,2025-03-01,Mateus Cambundo João,0,Masculino,Consulta,1500.0,Não Fez,0.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
6,2025-03-02,Hugo Wakalawako,0,Masculino,Consulta,1500.0,TDR Malária,1500.0,Tratamento,3000.0,0.0,Sem Dívida,Pago
7,2025-03-02,Arnaldo António,0,Masculino,Consulta,1500.0,TDR Malária,1500.0,Tratamento,7000.0,0.0,Sem Dívida,Pago
8,2025-03-02,Arnaldo António,0,Masculino,Consulta,0.0,PP,700.0,Sem Tratamento,0.0,0.0,Sem Dívida,Pago
9,2025-03-02,Weza Luís,0,Femenino,Consulta,1500.0,TDR Malária,1500.0,Tratamento,8000.0,0.0,Sem Dívida,Pago