In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("../data/Gastos.csv", sep=";")

In [13]:
df.head(20)

          Data                    Descrição  Valor
0   01/04/2025           Táxi para o almoço   1000
1   01/04/2025  Jantar para os Funcionários   1000
2   02/04/2025           Táxi para o almoço    500
3   02/04/2025  Jantar para os Funcionários    500
4   02/04/2025              Papel Higiénico    300
5   03/04/2025                     Lampadas   3000
6   03/04/2025           Táxi para o almoço   1000
7   03/04/2025                          Omo    500
8   03/04/2025                       Cópias   1000
9   03/04/2025                      Garrote   1000
10  03/04/2025       Taxi para Reparar a Tv   1000
11  04/04/2025           Táxi para o almoço   1000
12  04/04/2025  Jantar para os Funcionários   1000
13  05/04/2025  Jantar para os Funcionários   1000
14  06/04/2025    Compra de 5 Esferográfica    500
15  06/04/2025                Matabicho Noé    500
16  06/04/2025        Dinho para Documentos  10000
17  06/04/2025              Táxi para o Noé   1500
18  06/04/2025  Jantar para os Funcionários   1000
19  06/04/2025            Àgua para consumo    300

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data       319 non-null    object
 1   Descrição  319 non-null    object
 2   Valor      319 non-null    int64
dtypes: int64(1), object(2)
memory usage: 7.6+ KB

In [12]:
df.isnull().sum()

Data         0
Descrição    0
Valor        0
dtype: int64